<h1>About</h1>

<div class="about-item">
  <h3><strong>ドートル</strong>とは？？</h3>
  <p>texttexttext</p>
</div>

<div class="about-item">
  <h3>コメントするには？？</h3>
  <p>texttexttext</p>
</div>

<div class="about-item">
  <h3>新規登録するには？？</h3>
  <p>texttexttext</p>
</div>


<p>ここから新規登録ページに移動する</p>