<div class="main-visual"></div>
<div class="main-visual"></div>

<section class="qualification">
  <div class="title">
    <div>img</div>
    <h3>資格を探す<h3>
  </div>

  <div class="qualification-box">
    <p>ジャンルから探す</p>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <p>全資格を一覧する</p>
  </div>
</section>

<div>
  <section class="anounce">
    <div class="title">
      <div>img</div>
      <h3>お知らせ<h3>
    </div>
    <div class="anounce-box">

    </div>
  </section>

  <div class="sidebar">
    <div></div>
    <div></div>
  </div>
</div>

<section class="new-stories">
  <div class="title">
    <div>img</div>
    <h3>新着の体験談<h3>
  </div>
  <div class="new-stories-box">
  </div>
</section>

<section class="ranking">
  <div class="title">
    <div>img</div>
    <h3>資格ランキング<h3>
  </div>
  <div class="ranking-box">
  </div>
</section>