// Place all the styles related to the admins/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.a-top-all {
  width: 1000px;
  margin: 0 auto;
  background-color: #DEB887;
  border-radius: 5px;
  padding: 30px;
  .a-top-title {
  text-align: center;
  }
}

.a-stories-index {
  width: 100%;
  background-color: #DEB887;
  padding: 20px 20px;
  border-radius: 5px;
  .a-stories-index-table {
    width: 100%;
    background-color: #FAEBD7;
    text-align: left;
    border-radius: 5px;
    .a-stories-index-table-title > th:not(:first-child) {
      background-color: #A9A9A9;
      border-radius: 5px;
    }
  }
}

.a-customer-index {
  width: 100%;
  background-color: #DEB887;
  padding: 20px 20px;
  border-radius: 5px;
  .a-customer-index-table {
    width: 100%;
    background-color: #FAEBD7;
    text-align: left;
    border-radius: 5px;
    .a-customer-index-table-title > th:not(:first-child) {
      background-color: #A9A9A9;
      border-radius: 5px;
    }
  }
}

.a-announce-index {
  width: 100%;
  background-color: #DEB887;
  padding: 20px 20px;
  border-radius: 5px;
  .a-announce-index-table {
    width: 100%;
    background-color: #FAEBD7;
    text-align: left;
    border-radius: 5px;
    .a-announce-index-table-title > th:not(:first-child) {
      background-color: #A9A9A9;
      border-radius: 5px;
    }
  }
}

.a-top-qualification-genre {
  display: flex;
  .a-top-qualification {
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  .a-top-genre {
    width: 50%;
    padding: 20px;
    margin: 0;
    text-align: center;
  }
}

.a-qualification-index {
  width: 100%;
  background-color: #DEB887;
  padding: 20px 20px;
  border-radius: 5px;
  .a-qualification-index-table {
    width: 100%;
    background-color: #FAEBD7;
    text-align: left;
    border-radius: 5px;
    .a-qualification-index-table-title > th:not(:first-child) {
      background-color: #A9A9A9;
      border-radius: 5px;
    }
  }
}


.a-genre-topindex {
  width: 100%;
  background-color: #DEB887;
  padding: 20px 20px;
  border-radius: 5px;
  .a-genre-topindex-table {
    width: 100%;
    background-color: #FAEBD7;
    text-align: left;
    border-radius: 5px;
    .a-genre-topindex-table-title > th:not(:first-child) {
      background-color: #A9A9A9;
      border-radius: 5px;
    }
  }
}

.a-name-reduce {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a-title-reduce {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a-text-reduce {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a-c-text-reduce {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announce-reduce-title {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genre-reduce-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announce-reduce-text {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announce-reduce-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}