// Place all the styles related to the admins/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.a-story-back-btn {
  width: 120px;
  margin-bottom: 2px;
  background-color: #FAEBD7;
  border-radius: 5px;
}