<% if qualification.errors.any? %>
	<div id="error_explanation">
		<ul style="margin-left: 30%;">
			<% qualification.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
