<div class="c-study-qualifications">
  <p>勉強中の資格</p>
  <% @customer.customer_study_qualifications.each do |customer_study_qualification| %>
    <div class="customer_study_qualification">
      <span class="tag-name">
        <%= customer_study_qualification.qualification.name %>
      </span>
    </div>
  <% end %>
</div>

<div class="c-have-qualifications">
  <p>保有資格</p>
  <% @customer.customer_have_qualifications.each do |customer_have_qualification| %>
      <div class="customer_have_qualification">
        <span class="tag-name">
          <%= customer_have_qualification.qualification.name %>
        </span>
      </div>
  <% end %>
</div>