<h1 class="page-title">資格一覧</h1>

<div class="qualification-index">
  <table class='qualification-index-table'>
    <thead>
      <tr class="qualification-index-table-title">
        <th>資格名</th>
        <th>ジャンル</th>
        <th>概要</th>
      </tr>
    </thead>
    <tbody>
      <% @qualifications.each do |qualification| %>
        <tr class="items">
          <td>
            <%= link_to qualification.name, admins_qualification_path(qualification) %>
          </td>
          <td width=120><%= qualification.genre.name %></td>
          <td><%= qualification.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%#= link_to user_path(book.user) do %>
  <%#= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
<%# end %>