<h1 class="page-title">ユーザ一覧</h1>

<div class="a-customer-index">
  <table class="a-customer-index-table">
    <%= render 'admins/customers/index', customers: @customers %>
  </table>
  <%= paginate @customers %>
</div>