<% if customer_signed_in? %>
  <% unless current_customer == @customer %>
    <% if story.liked_by?(current_customer) %>
      <ul>
        <li>
          <%= link_to customers_qualification_story_likes_path(@qualification, story), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= story.likes.count %> いいね
          <% end %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to customers_qualification_story_likes_path(@qualification, story), method: :post do %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= story.likes.count %> いいね
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>