/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Yu Gothic Medium,游ゴシック Medium,YuGothic,游ゴシック体,ヒラギノ角ゴ Pro W3,メイリオ,sans-serif;
  text-decoration: none;
}



/*.wrapper{*/
/*    min-height: 100vh;*/
/*    position: relative;*/
/*    padding-bottom: 25px;*/
/*}*/

/*header*/

header {
  width: 100%;
  height: 60px;
  background-color: #003333;
  display: flex;
}

.header-title {
  height: 60px;
}

.header-nav {
  height: 50px;
}

.header-nav-list {
}

.header-nav-list-item {
  display: inline-block;
  margin: auto 10px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.header-nav-list-item-text {
  color: white;
}

/*main*/

main {
  width: 1000px;
  margin: 0 auto;
}


/*footer*/

/*footer {*/
/*  width: 100%;*/
/*  height: 25px;*/
/*  background-color: gray;*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*}*/


/*スライドの設定*/

#box{
  height: 600px;
}
.image1 {
  background-image: url("meigen1.png");
}
.image2 {
  background-image: url("meigen2.png");
}
.image3 {
  background-image: url("meigen3.png");
}
.image4 {
  background-image: url("meigen4.png");
}

/*共通*/

.page-title {
  margin: 20px auto;
  text-align: center;
  margin-bottom: 20px;
}

/*ユーザ登録画面*/

.registration-form {
  margin-left: 20%;
  margin-bottom: 20px;
}

.registration-form-actions {
  margin-top: 20px;
  margin-left: 35%;
}

.registration-to-login {
  margin-top: 20px;
  margin-left: 15%;
}

/*ログイン画面*/

.login-form {
  margin-left: 30%;
  margin-bottom: 20px;
}

.login-form-actions {
  margin-top: 20px;
  margin-left: 25%;
}

.login-to-reset {
  margin-top: 20px;
}
