<h1 class="page-title">お知らせ</h1>

<div class="c-announce-infomation">
  <div class="c-announce-classification">
    <div>タイトル</div>
    <p><strong><%= @announce.title %></strong></p>
  </div>

  <div>
    <p class="c-announce-name">区分</p>
    <p><strong><%= @announce.category %></strong></p>
  </div>

  <div class="c-announce-content">
    <div>内容</div>
    <p><strong><%= @announce.body %></strong></p>
  </div>
</div>